@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#about, #projects, #footer {
  scroll-margin-top: 64px;
}

.arrow-bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#arrow {
  animation-name: arrow-bounce;
  animation-timing-function: ease;
}

@keyframes arrow-bounce {
  0% {transform: translateX(0);}
  50% {transform: translateX(30px);}
  100% {transform: translateX(0)}
}

#circle {
  border: 3px solid #f0c808;
  height: 45%;
  width: 25%;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  position: absolute;
  left: 58%;
  bottom: 15%;
  z-index: 2;
}

#circle-1 {
  background: #329ffe;
  height: 45%;
  width: 25%;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  position: absolute;
  left: 50%;
  bottom: 15%;
  z-index: 0;
}

#circle-2 {
  background: #d65780;
  height: 45%;
  width: 25%;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  position: absolute;
  left: 53%;
  bottom: 28%;
  z-index: 0;
}

#shape {
  background: #d65780;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  height: 20%;
  width: 12%;
  opacity: 0.5;
  left: 75%;
  position: absolute;
  z-index: 0;
}

#shape-1 {
  background: #f0c808;
  height: 35%;
  width: 15%;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  position: absolute;
  left: 5%;
  top: 60%;
  opacity: 0.5;
  z-index: 0;
}

#projects {
  background: url("project-bg.svg");
  background-size: cover;
}